	{% load static %}
	<!DOCTYPE html>
	<html>
	<head>
		<title>Zamienniki</title>
		<link rel="stylesheet" href="{% static 'style.css' %}">
	</head>
	<body>
		<header>
			<img src="{% static 'logo.png' %}">
			<p style="position: absolute; right: 100px; top: 70px; color: white;">Jan Kowalski  V</p>
		</header>
		<nav>
			<p>Zamienniki > Oczekujące </p>
		</nav>
		<div class="wraper">

			<div class="leftbar">
				<p>* Zamienniki</p>
				<p>   &nbsp;&nbsp;- Zaakceptowane</p>
				<p style="">   &nbsp;&nbsp;- Oczekujące..</p>
				<p>   &nbsp;&nbsp;- Odrzucone</p>
			</div>
			<div class="centerdiv scrool" style="padding-left:50px;">
				{% for obj in obj_list%}
				
				<div class="zamienniki_row">

				<div class="zamiennik_nazwa">
					<a href='{% url "zamiennik_detail" id=obj.id %}'>
						<p >{{obj.kursZamieniany.nazwa}}</p></a>
					</div>
					<div class="zamiennik_kod">
						<a href='{% url "zamiennik_detail" id=obj.id %}'>
							<p>{{obj.kursZamieniany.kodKursu}}</p></a>
						</div>
						<div class="zamiennik_inicjator">
							<a href='{% url "zamiennik_detail" id=obj.id %}'>
								<p>Inicjator: {{obj.inicjator.imie}} {{ obj.inicjator.nazwisko}} {{obj.inicjator.indeks}}</p></a>
							</div>				
							</div>				
							{% endfor%}


						</div>
					</div>	
				</body>
				</html>

